* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: white;
}

.flex-parent {
  display: flex;
  justify-content: space-between;
}
.conteiner {
  max-width: 1136px;
  margin: 0 auto;
}

.flex-parent .fa-bars {
  display: none;
}
.flex-parent .fa-magnifying-glass {
  display: none;
}
header .conteiner img {
  margin-top: 15px;
  max-width: auto;
  max-height: 40px;
}

.modal {
  display: none;
  z-index: 1;
  position: fixed;
  overflow: auto;
  background-color: rgba(72, 72, 72, 0.8); /* Black w/ opacity */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#contactForm {
  margin: 100px auto;
  width: 500px;
  height: 696px;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
input {
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  width: 420px;
  height: 40px;
  box-sizing: border-box;
  padding-left: 15px;
}

textarea {
  border-color: #c4c4c4;
  border-radius: 3px;
  border-width: 1px;
  width: 420px;
  height: 200px;
  padding-left: 15px;
  box-sizing: border-box;
}
.titleModal {
  margin-top: 50px;
  margin-bottom: 35px;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 24px;
  font-weight: 700;
}
.envoyer {
  border: 0px;
  width: 420px;
  height: 50px;
  border-radius: 5px;

  background-color: #ff5d5d;
  color: white;
  font-size: 20px;
}
.connection {
  padding: 10px 16px;
  border-radius: 27px;
  background-color: rgb(0, 0, 0);
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.connection:hover {
  border: none;
  background-color: rgb(0, 0, 0);
  opacity: 70%;
  color: white;
}
.menu ul {
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.menu ul li {
  font-size: 16px;
  font-weight: 700;
}

.menu ul li .fa-heart {
  font-size: 16px;
}

.menu ul li:hover {
  border-radius: 27px;
  padding: 10px 16px;
  background-color: #f2f2f2;
  cursor: pointer;
}

h1 {
  color: #000;
  font-size: 54px;
  font-weight: 900;
}
h1 span {
  color: #ff5d5d;
  font-size: 54px;
}
.presentation p {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #333;
}

a:link {
  color: #333;
  cursor: pointer;
}
a:visited {
  color: #333;
  cursor: pointer;
}

.flex-parent-proposition ul {
  padding-bottom: 24px;
  display: flex;
  gap: 10px;
}

.flex-parent-proposition button {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: flex-start;
  cursor: pointer;
  text-align: left;
  height: 68px;
  border-radius: 10px;
  padding: 11px 16px;
  background-color: white;
  border: 2px solid #000;
  color: #000;

  transition: all 0.3s ease-in-out;
}
.hidden {
  display: none;
}

.flex-parent-proposition button:hover {
  background-color: #000;
  border: 2px solid #000;
  color: white;
}

.images {
  max-height: 372px;
  max-width: 1136px;
  align-self: center;
  object-fit: cover;
  display: flex;
  gap: 2px;
  padding-bottom: 20px;
}

.images .left {
  flex: 1;
  position: relative;
}
.images .left img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.plusimages {
  border: none;
  position: absolute;
  left: 10px;
  bottom: 15px;
  color: white;
  background-color: #000;
  border-radius: 27px;
  padding: 10px 16px;
  font-size: 12px;
  cursor: pointer;
}

.plusimages:hover {
  background-color: rgb(0, 0, 0);
  opacity: 70%;
  color: white;
}
.images .right {
  width: 372px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.images .right .img1 {
  object-fit: cover;
  height: calc(50% - 1px);
}
.images .right .img2 {
  object-fit: cover;
  height: calc(50% - 1px);
}

.baseline {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  font-size: 12px;
  color: #333;
  text-align: left;
}

.description {
  max-width: 560px;
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  width: 100%;
  font-size: 28px;
  font-weight: 700;
  color: #000;

  margin: 0 0 16px;
}

.description p {
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 23px;
  font-size: 20px;
  color: #333;
  margin-bottom: 60px;
}

.first-carrousel {
  padding-top: 10px;

  display: flex;
  gap: 20px;
}
.carrousel {
  padding-top: 45px;
  display: flex;
  gap: 20px;
}

.fa-circle {
  color: rgb(52, 224, 161);
  cursor: pointer;
  margin: 7px 1px;
}

.colon1 {
  flex: 1;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}

.colon1 p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  line-height: 22px;
}

.button {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.button:hover {
  background-color: #000;
  color: white;
}
.colon2 {
  flex: 3;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-shrink: 0;
  overflow-x: scroll;
  gap: 10px;
}

.colon2::-webkit-scrollbar {
  display: none;
}

.haut {
  cursor: pointer;
}
.bas {
  margin-top: 8px;
  margin-bottom: 35px;
  cursor: pointer;
}
.colon2 img {
  width: 270px;
  height: 202px;

  object-fit: cover;
}
h4 {
  font-size: 18px;
  font-weight: 600;
}

h4:hover {
  text-decoration: underline;
  opacity: 80%;
}
.vues {
  font-size: 12px;
  margin-left: 20px;
  color: #333;
}
.classement {
  color: #333;

  font-size: 12px;
  cursor: pointer;
}

.cercle {
  display: inline;
  padding: 10px;
  border-radius: 100%;

  background-color: #f2f2f2;
  position: absolute;
  right: 10px;
  top: 10px;
}

.fa-heart {
  font-size: 24px;
}
.colon2 .img1 {
  flex: 1;
  position: relative;
}

.colon2 .img2 {
  flex: 1;
  position: relative;
}
.colon2 .img3 {
  flex: 1;
  position: relative;
}
.colon2 .img4 {
  position: relative;
}
.colon2 .img5 {
  position: relative;
}
.colon2 .img6 {
  position: relative;
}

footer {
  text-align: center;
  background-color: #faf1ec;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.littleLogo {
  width: 24px;
  height: auto;
  margin: 3px;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1136px) {
  .conteiner {
    padding: 12px 25px;
  }

  .modal {
    display: none;
    z-index: 1;
    position: fixed;
    overflow: auto;
  }
  .fa-bars {
    display: none;
  }
  .fa-magnifying-glass {
    display: none;
  }
  .hidden {
    display: block;
  }
  .flex-parent-proposition ul {
    flex-wrap: wrap;
  }
  .flex-parent-proposition button {
    flex: 24%;
  }
}

@media (max-width: 1024px) {
  .modal {
    display: none;
    z-index: 1;
    position: fixed;
    overflow: auto;
  }
  h2 {
    font-size: 24px;
    font-weight: 600px;
  }

  h3 {
    font-size: 22px;
  }
  .images .right {
    width: calc(100% / 3);
  }

  .colon1 p {
    font-size: 18px;
  }

  .button {
    font-size: 14px;
  }

  .colon2 {
    display: flex;
  }
  .colon2 img {
    width: 230px;
    height: 170px;
  }

  .fa-bars {
    display: none;
  }
  .fa-magnifying-glass {
    display: none;
  }

  .menu ul li span {
    display: none;
  }
}
@media (max-width: 768px) {
  .modal {
    display: none;
    z-index: 1;
    position: fixed;
    overflow: auto;
  }
  h1 {
    font-size: 32px;
  }

  h1 span {
    font-size: 32px;
  }
  .menu ul {
    display: none;
  }
  .flex-parent {
    display: flex;
    align-items: center;
  }

  header .conteiner .fa-bars {
    display: flex;
    font-size: 20px;
  }
  header .conteiner .fa-magnifying-glass {
    display: flex;
    font-size: 20px;
  }

  .images .right {
    display: none;
  }

  .baseline {
    display: none;
  }
  h2 {
    padding-bottom: 10px;
  }

  .flex-parent-proposition ul {
    flex-wrap: nowrap;
    overflow: hidden;
    flex-shrink: 0;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
  }
  .flex-parent-proposition ul::-webkit-scrollbar {
    display: none;
  }

  .flex-parent-proposition button {
    height: 40px;
    flex: 0 0 auto;
  }
  .fa-bed,
  .fa-house,
  .fa-ticket,
  .fa-utensils,
  .fa-rocketchat,
  .fa-plane,
  .fa-ship,
  .fa-ellipsis {
    margin-left: 10px;
  }

  .carrousel {
    display: block;
    padding-top: 0px;
  }
  .colon1 {
    padding-bottom: 20px;
  }
  .description {
    display: block;
    max-width: fit-content;
  }
  .colon2 img {
    width: 567px;
    height: 425px;
  }
}
