* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: white;
}

.flex-parent {
  display: flex;
  justify-content: space-between;
}
.conteiner {
  max-width: 1136px;
  margin: 0 auto;
}
header .conteiner img {
  margin-top: 15px;
  max-width: auto;
  max-height: 40px;
}
.connection {
  max-width: 156px;
  max-height: 42px;
  padding: 10px 16px;
  border-radius: 27px;
  background-color: rgb(0, 0, 0);
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.connection:hover {
  background-color: rgb(0, 0, 0);
  opacity: 80%;
  color: white;
}
.menu ul {
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.menu ul li {
  font-size: 16px;
  font-weight: 700;
}

.menu ul li .fa-heart {
  font-size: 16px;
}

.menu ul li:hover {
  border-radius: 27px;
  padding: 10px 16px;
  background-color: #f2f2f2;
}

.presentation {
  padding: 32px 0 0 0;
}
h1 {
  color: #000;
  font-size: 54px;
  font-weight: 900;
}
h1 span {
  color: #ff5d5d;
  font-size: 54px;
}
.presentation p {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #333;
}

a:link {
  color: #333;
  cursor: pointer;
}
a:visited {
  color: #333;
  cursor: pointer;
}

.flex-parent-proposition ul {
  padding-bottom: 24px;
  display: flex;
}

.flex-parent-proposition button {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: flex-start;

  cursor: pointer;
}

.first-button {
  margin-left: none;
}

main button {
  text-align: left;
  max-width: 181px;
  height: 68px;
  border-radius: 10px;
  padding: 11px 16px;
  background-color: white;
  border: 2px solid #000;
  color: #000;

  margin: 15px 0 0 10px;
  transition: all 0.3s ease-in-out;
}

main button:hover {
  background-color: #000;
  border: 2px solid #000;
  color: white;
}

button:nth-child(1) {
  margin: 15px 0 0 0;
}

.images {
  height: 372px;
  width: 1136px;
  align-self: center;
  object-fit: cover;
  display: flex;
  gap: 2px;
  padding-bottom: 20px;
}

.images .left {
  flex: 4;
}
.images .left img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
}
.plusimages {
  position: fixed;
  color: white;
  background-color: #000;
  border-radius: 27px;
  max-width: 156px;
  max-height: 42px;
  padding: 10px 16px;
  font-size: 12px;
  cursor: pointer;
}
.images .right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.images .right .img1 {
  object-fit: cover;
  height: calc(50% - 1px);
}
.images .right .img2 {
  object-fit: cover;
  height: calc(50% - 1px);
}

.baseline {
  display: flex;

  padding-bottom: 16px;
  font-size: 12px;
  color: #333;
  text-align: left;
}

.destination {
  flex: 11;
}
.visit {
  flex: 1;
  text-align: left;
}

.description {
  max-width: 560px;
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  width: 100%;
  font-size: 28px;
  font-weight: 700;
  color: #000;

  margin: 0 0 16px;
}

.description p {
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 23px;
  font-size: 20px;
  color: #333;
  margin-bottom: 54px;
}

.carrousel {
  padding-top: 10px;

  display: flex;
  gap: 20px;
}

.fa-circle {
  color: rgb(52, 224, 161);
  cursor: pointer;
  margin: 7px 1px;
}

.colon1 {
  flex: 1;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}

.colon1 p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  line-height: 22px;
}

.button {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.button:hover {
  background-color: #000;
  color: white;
}
.colon2 {
  flex: 3;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-shrink: 0;
  overflow-x: scroll;
  gap: 10px;
}

.colon2::-webkit-scrollbar {
  display: none;
}

.haut {
  cursor: pointer;
}
.bas {
  margin-top: 8px;

  cursor: pointer;
}
.colon2 img {
  width: 270px;
  height: 202px;

  object-fit: cover;
}
h4 {
  font-size: 18px;
  font-weight: 600;
}

h4:hover {
  text-decoration: underline;
  opacity: 80%;
}
.vues {
  font-size: 12px;
  margin-left: 20px;
  color: #333;
}
.classement {
  color: #333;

  font-size: 12px;
  cursor: pointer;
}

.cercle {
  display: inline;
  padding: 10px;
  border-radius: 100%;

  background-color: #f2f2f2;
  position: absolute;
  right: 10px;
  top: 10px;
}

.fa-heart {
  font-size: 24px;
}
.colon2 .img1 {
  flex: 1;
  position: relative;
}

.colon2 .img2 {
  flex: 1;
  position: relative;
}
.colon2 .img3 {
  flex: 1;
  position: relative;
}
.colon2 .img4 {
  position: relative;
}
.colon2 .img5 {
  position: relative;
}
.colon2 .img6 {
  position: relative;
}

footer {
  text-align: center;
  background-color: #faf1ec;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.littleLogo {
  width: 24px;
  height: auto;
  margin: 3px;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1136px) {
  .conteiner {
    height: 100%;
    width: 100%;
    padding: 10px;
    background: yellow;
  }
}
